{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Connexion {% endblock%}

{% block body%}
    <h2>Sortir.com</h2>
    <p>Bienvenue sur le site des étudiant-e-s de l'ENI
        <br>
        Une idée de sortie ?
        <br>
        C'est ici que cela se passe !!
        <br>
        A vous de jouer
    </p>
{% endblock %}

