{% extends 'base.html.twig'%}

{% block title %}{{ parent()}} |Profil {% endblock%}

{% block body%}
    <h1>   Mon Profil    </h1>
    <div>
Le profil va s'afficher à partir des informations du participant saisi dans le formulaire d'inscription
    </div>



{% endblock %}
